* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #262626;
    background-image: linear-gradient(to right, #333 1px, transparent 1px), linear-gradient(to bottom, #333 1px, transparent 1px);
    background-size: 40px 40px ;
}

.box::before{
    content: 'Bye Bye';
    position: absolute;
    top: -0.75em;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 2em;
    transition: 1s;
}

.box:hover::before{
    animation: fadeOut 3s ease;
    opacity: 0;
}

.box::after {
    content: 'Happy New Year';
    position: absolute;
    left: 0;
    top: -0.75em;
    width: 100%;
    color: #1d34ff;
    text-align: center;
    font-size: 2em;
    transition: 1s;
    opacity: 0;
    filter: blur(30px);
}

.box:hover::after {
    animation: fadeIn 3s ease;
    opacity: 1;
    filter: blur(0px);
}

.box {
    position: absolute;
    cursor: pointer;
}

.box span {
    display: inline-block;
    color: #fff;
    font-size: 10em;
    font-weight: bold;
    transition: 2s;
    filter: blur(1px);
}

.box span:last-child {
    color: #000000;
}

.box:hover span:last-child {
    animation: fadeOut 3s ease;
    opacity: 0;
    filter: blur(30px);
}


.box:hover span:nth-child(3):after {
    content: '4';
    position: absolute;
    color: #1d34ff;
    animation: fadeIn 3s ease;
    filter: blur(0px);
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}